<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyDqENi3KQJARkBJ_5bxV81h3Afll4PXb20</string>
	<key>GCM_SENDER_ID</key>
	<string>24390329692</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>sridesh.health-maintenance-supporter</string>
	<key>PROJECT_ID</key>
	<string>fitzy-fe46f</string>
	<key>STORAGE_BUCKET</key>
	<string>fitzy-fe46f.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:24390329692:ios:53736b028837266fcc8d99</string>
</dict>
</plist>